@page
@model IndexModel
@{
    ViewData["Title"] = "Bine ati venit!";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Welcome to our retail store!</p>
    <img src="/images/Retail.png" alt="Welcome Image" style="max-width: 50%; height: auto; border-radius: 50%;">
</div>
