@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Confidentialitate";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politica de Confidențialitate pentru Retail-Go</title>
</head>

<body>

    <p><strong>Ultima actualizare:</strong> 08/01/2024</p>

    <p>Bun venit pe <em>Retail-Go</em>! Apreciem încrederea acordată și ne angajăm să protejăm și să respectăm confidențialitatea informațiilor dvs.</p>

    <p><strong>Informații colectate</strong></p>

    <p>La accesarea sau utilizarea site-ului nostru, colectăm diverse tipuri de informații personale, inclusiv, dar fără a se limita la:</p>
    <ul>
        <li>Informații de identificare personală (nume, adresă, e-mail, etc.)</li>
        <li>Informații de contact</li>
        <li>Informații de facturare și plată</li>
    </ul>

    <p>Aceste informații sunt colectate în scopul furnizării și îmbunătățirii serviciilor noastre, precum și pentru a vă oferi o experiență personalizată pe site.</p>

    <p><strong>Utilizarea informațiilor</strong></p>

    <p>Informațiile personale colectate pot fi utilizate în următoarele scopuri:</p>
    <ul>
        <li>Procesarea comenzilor și livrarea produselor</li>
        <li>Furnizarea de asistență clienți</li>
        <li>Personalizarea experienței de utilizare</li>
        <li>Trimiterea de informații de marketing și oferte promoționale</li>
    </ul>

    <p><strong>Păstrarea și protejarea informațiilor</strong></p>

    <p>Ne angajăm să păstrăm informațiile dvs. în siguranță și să aplicăm măsuri tehnice și organizatorice adecvate pentru a preveni accesul neautorizat sau utilizarea acestora.</p>

    <p><strong>Partajarea informațiilor</strong></p>

    <p>Nu vom vinde, închiria sau transfera informațiile dvs. personale către terțe părți fără consimțământul dvs., cu excepția cazurilor prevăzute de lege sau în scopul furnizării serviciilor noastre.</p>

    <p><strong>Drepturile dvs.</strong></p>

    <p>Aveți dreptul să solicitați acces la informațiile personale pe care le deținem despre dvs., să le corectați sau să le ștergeți conform legii aplicabile.</p>

    <p><strong>Cookie-uri</strong></p>

    <p>Site-ul nostru utilizează cookie-uri pentru a îmbunătăți funcționalitatea și experiența utilizatorilor. Puteți gestiona setările cookie-urilor în browserul dvs.</p>

    <p><strong>Actualizări la Politica de Confidențialitate</strong></p>

    <p>Ne rezervăm dreptul de a actualiza periodic această politică. Vă rugăm să revizuiți această pagină pentru a fi la curent cu orice modificări.</p>

    <p><strong>Contact</strong></p>

    <p>Dacă aveți întrebări sau preocupări cu privire la această Politică de Confidențialitate, vă rugăm să ne contactați la <a href="mailto:adresa@email.com">adresa de e-mail</a>.</p>

    <p>Prin utilizarea site-ului nostru, sunteți de acord cu această Politică de Confidențialitate.</p>

</body>

</html>
